@import 'tailwindcss';

@theme {
  --text-2xs: 0.625rem;
  /* --text-2xs: 0.6875rem; */
}

html, body {
  height: 100%;
  scrollbar-gutter: stable;
}

@layer base {
  p {
    @apply font-light;
  }
  h1, h2 {
    @apply font-(family-name:--font-major-mono-display) text-stone-200 font-semibold;
  }
  h1 {
    @apply text-3xl filter drop-shadow-[0_0_8px_#dadada];
  }
  p {    
    a {
      @apply text-stone-400 underline underline-offset-4 transition-colors duration-200 hover:text-stone-200;
    }
    strong {
      @apply font-semibold;
    }
  }
  ul, ol {
    @apply list-disc list-outside pl-5;
  }
  u {
    @apply underline-offset-4;
  }

  .stack-2 {
    @apply flex flex-col gap-2;
  }
  .stack-4 {
    @apply flex flex-col gap-4;
  }
  .stack-6 {
    @apply flex flex-col gap-6;
  }
}
