@import 'tailwindcss';

html,
body {
  height: 100%;
}

.section-items {
  counter-reset: items;
}
.section-item {
  counter-increment: items;
}
.section-item-number::before {
  content: counter(items, decimal-leading-zero);
}
